body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}


.whatsapp-icon {
    height: 50px;

    position: absolute;
    bottom: 10px;
    right: 20px;
}






/* Common styles for all buttons */
.button {
    width: 138px;
    height: 90px;
    background-color: #2F6542;  /* green color */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;   /* To make the text bold */
    font-size: 14px;    /* Adjust the size as needed */
    color: white;       /* Text color */
    display: flex;      /* Use flexbox for center alignment */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    text-align: center;
}

/* Background images for each button */
.button.weather {
    background-image: url('../images/icons-partly-cloudy.svg');
    background-repeat: no-repeat;
    background-position: center;
    left: 113px;
    top: 250px;
}

.button.pest {
    background-image: url('../images/icons-bug.svg');
    background-repeat: no-repeat;
    background-position: center;
    left: 113px;  /* adjust position as needed */
    top: 450px;
}

.button.soil {
    background-image: url('../images/icons-soil.svg');
    background-repeat: no-repeat;
    background-position: center;
    left: 399px;  /* adjust position as needed */
    top: 250px;
}

.button.location {
    background-image: url('../images/icons-location.svg');
    background-repeat: no-repeat;
    background-position: center;
    left: 399px;  /* adjust position as needed */
    top: 450px;
}

.button-grow{
    width: 200px;
    height: 50px;
    top: 630px;
    left: 230px;
    background-color: #2F6542;  /* green color */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}


.main-image {
    width: 781px;
    height: 650px;
    left: 631px;
    top: 90px;
    position: absolute;
    border-radius: 26px;
}
